Repository solid/vocab, pull requests merged in 2022-11, with the labels that each got.

#80 Add describes, fix link relation, fix typo in ACL Ontology
  acl.n3
Labels: acl

#68 Solid ACP vocabulary
  solid-acp.ttl
Labels: vocab-solid-acp

#84 Spec Terms
  spec.ttl
Labels: feature, vocab-spec

#52 Add owner to solid terms
  solid-terms.ttl
Labels: vocab-solid-terms
